In [6]:
import pandas as pd
import numpy as np
import json
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv('./data/100k_a.csv', names=['UserID', 'StreamID', 'StreamerUsername', 'Time start', 'Time stop'])

In [10]:
df

         UserID     StreamID StreamerUsername  Time start  Time stop
0             1  33842865744         mithrain         154        156
1             1  33846768288            alptv         166        169
2             1  33886469056         mithrain         587        588
3             1  33887624992             wtcn         589        591
4             1  33890145056        jrokezftw         591        594
...         ...          ...              ...         ...        ...
3051728  100000  34167930576           mckytv        3582       3583
3051729  100000  34168288656         natehill        3582       3583
3051730  100000  34169594512         fortnite        3582       3584
3051731  100000  34180223072   highdistortion        3709       3711
3051732  100000  34181187808         symfuhny        3706       3708

[3051733 rows x 5 columns]

In [11]:
df.dtypes

UserID               int64
StreamID             int64
StreamerUsername    object
Time start           int64
Time stop            int64
dtype: object

In [12]:
df.isna().sum()

UserID              0
StreamID            0
StreamerUsername    0
Time start          0
Time stop           0
dtype: int64